#bet-money-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#bet-money-title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

#bet-money-input {
    width: 200px;
    height: 40px;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bet-money-accept {
    background-color: #007BFF;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#bet-money-accept:hover {
    background-color: #0056b3;
}


#bet-money-wrong-bet {
    color: #b81414;
    font-size: 18px;
    margin-top: 10px;
    animation: flicker 1s infinite alternate; /* Dodajemy animacjê migotania */
}

@keyframes flicker {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.bet-options-button {
    background-color: #007BFF;
    color: #fff;
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: pulse 2s infinite alternate; /* Dodajemy animacjê pulsowania */
}

.bet-options-button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700, 0 0 30px #ffd700, 0 0 40px #ffd700; /* Dodajemy efekt rozmycia */
}

#game-managerbox {
    margin-top: 2%;
    margin-right: 40%;
    float: right;
}
