#game-deck {
    justify-content: center; /* Wy�rodkowanie element�w wzd�u� osi poziomej */
    align-items: center; /* Wy�rodkowanie element�w wzd�u� osi pionowej */
    width: 100%;
    height: 100%;
    float:left;
}
h3{
    padding:10px;
}
