#playerEq {
    justify-content: center; /* Wyœrodkowanie elementów wzd³u¿ osi poziomej */
    align-items: center; /* Wyœrodkowanie elementów wzd³u¿ osi pionowej */
    width: 100%;
    height: 100%;
    float:left;
}
h3{
    padding:10px;
}
