/* Global settings */
$green: #4CAF50; /* Main green color */
$red: #FF5252; /* Main red color */
$dark-green: #388E3C; /* Darker green for background */
$light-green: #8BC34A; /* Lighter green for accents */
